// variables
$col-white: #ffffff;
$col-black: #424242;

$default-unit: 16;

// functions
@function rem($num) {
  $normalised: calc(10/$default-unit);

  @return calc($num * $normalised) + rem
}

// mixins
@mixin flex(
  $justify: flex-start,
  $align: flex-start,
  $flow: row nowrap,
  $column-gap: 0,
  $row-gap: 0
) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: nowrap;
  flex-flow: $flow;
  gap: $row-gap $column-gap;
}

// main styles
.insect {
  width: 100%;
  display: flex;
  @include flex(flex-start, flex-start, column, 0, rem(0.8));
}

.insect_label {
  // font-size: 1.6rem;
  font-size: rem(1.6);
  line-height: 152.2%;
  color: $col-black;
  font-weight: 400;
}

.insect_wrapper {
  position: relative;
  width: 100%;
  padding: 0 rem(1.2);
  transition: all 0.1s ease-in;
  background-color: $col-white;
  border: 1px solid rgba($col-black, 0.2);

  @include flex(flex-start, center, row, rem(1));

  &:focus-within {
    transition: all 0.2s linear;
    border-color: rgba($col-black, 0.5);
  }

  &[data-focused="true"] {
    border-color: rgba($col-black, 0.5);
  }

  &[data-icon="suffix"] {
    @include flex(space-between, center, row, 0, 0);
  }

  &[data-type="select"] {
    cursor: pointer;
  }
}

.insect_icon {
  width: rem(2);
  height: rem(2);
  flex-shrink: 0;
  position: relative;
  pointer-events: none;
  transition: all 0.3s linear;

  img,
  svg {
    max-width: 100%;
    max-height: 100%;
  }
}

.insect_wrapper[data-focused="true"] [data-icon-type="caret"] {
  transition: all 0.3s linear;
  transform: rotate(-180deg);
}

.insect_input {
  all: unset;
  flex-grow: 1;
  padding-right: rem(1.5);
  height: 100%;
  font-size: rem(1.6);
  min-height: rem(1.5);
  padding: rem(1.2) rem(1.2) rem(1.2) 0;
  color: $col-black;

  &::placeholder {
    color: rgba($col-black, 0.4);
  }

  &[type="select"] {
    cursor: pointer;
    caret-color: transparent;
  }

  &[data-search] {
    cursor: text;
  }
}

.insect_dd {
  position: absolute;
  min-height: rem(5);
  max-height: rem(25.6);
  overflow-y: auto;
  left: -1px;
  right: -1px;
  padding: rem(1) 0;
  border-radius: 4px;
  box-shadow: 0 4px 15px 0 rgba($col-black, 0.08);
  z-index: z("level-three");
}

.insect_dd-menu {
  @include flex(flex-start, flex-start, column);
}

.insect_dd-item {
  padding: rem(1.5) rem(2);
  font-size: rem(1.6);
  width: 100%;
  transition: all 0.2s linear;

  @include flex(space-between, center);

  &:hover {
    background-color: rgba($col-black, 0.1);
    transition: all 0.2s linear;
  }

  &[data-disabled="true"] {
    opacity: 0.5;
    pointer-events: none;
    cursor: default;
  }

  &[data-empty] {
    padding-top: rem(3);
    padding-bottom: rem(3);
    font-size: rem(1.3);
    color: rgba($col-black, 0.4);

    @include flex(center, center, column, 0, rem(0.8));

    &:hover {
      background-color: inherit;
    }
  }
}

.insect_dd-item_icon {
  width: rem(1.8);
  height: rem(1.7);
  position: relative;
}

.insect_svg,
.insect_image {
  width: 100%;
  height: 100%;
  max-width: 100%;
  object-fit: contain;
}
